<ion-content [fullscreen]="true">
  <div class="header-login">
    <div class="icon-container">
      <img
        class="icon-login"
        src="/assets/icon/shoeVault-logo2.png"
        alt="ShoeVault Logo"
      />
    </div>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Pedro25." />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nueva Constraseña</mat-label>
      <input type="password" matInput placeholder="********" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label> Confirmar Contraseña</mat-label>
      <input type="password" matInput placeholder="********" />
    </mat-form-field>

    <div class="example-button-row">
      <button mat-stroked-button>Cambiar Contraseña</button>
    </div>
  </form>
</ion-content>
