<ion-content [fullscreen]="true">
  <div class="header-shopping">
    <img src="/assets/arrow-back.svg" (click)="irPagina('/home')">
    <p class="items-shopping">Carrito de Compras</p>
  </div>

  <div class="content-shopping">
    <div *ngIf="productsInCart.length > 0; else noProductsTemplate">
      <div class="shopping-product" *ngFor="let product of productsInCart">
        <img [src]="product.image" alt="Imagen del producto">
        <div class="text-product">
          <p class="title-product">{{ product.nameproduct }}</p>
          <p class="price-product">Total: CLP {{ product.priceproduct * product.quantity | number }}</p>
          <span class="quantity">Cantidad: {{ product.quantity }}</span>
        </div>
      </div>
    </div>
    <ng-template #noProductsTemplate>
      <p>No hay productos en el carrito</p>
    </ng-template>
  </div>
</ion-content>
<app-tabs></app-tabs>
