ion-checkbox {
  --size: 30px;
  --checkbox-background-checked: transparent;
}

ion-checkbox.selected {
  --background-checked: #00ff00; // Cambia el color cuando está seleccionado
  --border-color: #00ff00;
}

.content-shopping {
  flex-grow: 1;
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
}

.shopping-button {
  padding: 10px;
  position: sticky;
  bottom: 60px;
  z-index: 10;
}

.shopping-product {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 30px;
  margin: 5px;
}

.shopping-product img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.text-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-product {
  margin: 0;
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
}

.price-product {
  color: #cfcfcf;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.quantity {
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}
