<ion-content [fullscreen]="true">
  <div class="header-product">
    <!-- Ícono para marcar como favorito (comentado por ahora) -->
    <img (click)="irPagina('/products')" class="arrow-back" src="/assets/arrow-back.svg">
    <img class="image-product" [src]="productoDetalle?.image" alt="Imagen del producto">
    <img class="favorite-product" src="/assets/heart-red.svg">
  </div>
  <div class="information-product">
    <h3>{{ productoDetalle?.nameproduct }}</h3>
    <h4 class="title-size">Tallas</h4>
    <div class="sizes-product">
      <ng-container *ngFor="let size of productSizes">
        <button [class.selected]="size.idsize === selectedSize" (click)="selectSize(size.idsize)">{{ size.namesizes }}</button>
      </ng-container>
    </div>
    <div class="description-product">
      <h4>Descripción</h4>
      <p>{{ productoDetalle?.descriptionproduct }}</p>
    </div>
    <div class="stock-product">
      <p class="price-product">{{ productoDetalle?.priceproduct | currency:'CLP' }}</p>
      <div class="stock-selector">
        <ion-button (click)="decreaseQuantity()" shape="round" fill="outline">-</ion-button>
        <span class="stock-quantity">{{ selectedQuantity }}</span>
        <ion-button (click)="increaseQuantity()" shape="round" fill="outline">+</ion-button>
      </div>
    </div>
    <div class="addToCart">
      <ion-button expand="full" (click)="addToCart()">Agregar al carrito</ion-button>
    </div>
    <ion-toast id="toast-message" [message]="toastMessage" [duration]="2000" [isOpen]="isToastOpen" (didDismiss)="isToastOpen = false" position="top"></ion-toast>
  </div>
</ion-content>
<ion-toolbar>
  <app-tabs></app-tabs>
</ion-toolbar>
