<ion-content [fullscreen]="true">
  <div class="header-login">
    <div class="icon-container">
      <img class="icon-login" src="/assets/icon/shoeVault-logo2.png" alt="ShoeVault Logo"/>
    </div>
  </div>
  <div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Modificar Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="productSelected">
        <form [formGroup]="productForm" class="example-form">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" [value]="productSelected.nameproduct" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" [value]="productSelected.descriptionproduct"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="price" [value]="productSelected.priceproduct" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category" [value]="productSelected.idcategory">
              <mat-option *ngFor="let category of categoriesAvailable" [value]="category.idcategory">
                {{ category.namecategory }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="brand" [value]="productSelected.idbrand">
              <mat-option *ngFor="let brand of brandsAvailable" [value]="brand.idbrand">
                {{ brand.namebrand }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender" [value]="productSelected.idgender">
              <mat-option *ngFor="let gender of genderAvailable" [value]="gender.idgender">
                {{ gender.namegender }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput type="number" formControlName="stock" [value]="productSelected.stockproduct" />
          </mat-form-field>
          <ion-item class="sizeForm">
            <ion-label style="width: 20%;">Tallas</ion-label>
            <div class="sizes">
              <div *ngFor="let size of sizesAvailable" class="sizeItem">
                <ion-checkbox [(ngModel)]="size.selected" (ionChange)="onSizeTouched(size)" [ngModelOptions]="{ standalone: true }"></ion-checkbox>
                <ion-label>{{ size.size }}</ion-label>
              </div>
            </div>
          </ion-item>
          <div class="imageForm">
            <ion-label>Foto actual</ion-label>
            <img class="image" *ngIf="oldImage" [src]="oldImage" alt="Sin imagen" />
            <ion-button (click)="takePicture()">Subir nueva foto</ion-button>
            <ion-label *ngIf="newImage">Foto nueva</ion-label>
            <img class="image" *ngIf="newImage" [src]="newImage"/>
          </div>
          <div class="button-container">
            <ion-button (click)="onSubmit()" mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="productForm.invalid">
              Guardar Cambios
            </ion-button>
            <ion-button (click)="irPagina('/panel-adm')">Volver</ion-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
