.header-login {
    display: flex;
    height: 20%;
    background-color: #111111;
    justify-content: center;
    align-items: center;
  }

  .icon-login {
    width: 125px;
  }
  .icon-container{
    display: flex;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .form-login {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 80%;
    border-radius: 15% 0% 0% 0%;
    flex-direction: column;
    justify-content: flex-start;
  }
  form{
    padding: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 15%;
    text-align: center;
    margin: 0;
    color: #1b1b1b;
  }

  .input-container {
    margin-bottom: 5px;
  }

  ion-item {
    margin-bottom: 5px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .forgot-pass{
    color: rgb(5, 5, 104);
    text-align: end;
    font-size: 12px;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 0px;
  }
  .custom-button-outline {
    --border-color: #0A0A0A;
    --color: #404040;
    --background: transparent;
    --background-activated: rgba(169, 169, 169, 0.2);
    border-radius: 8px;
  }
