<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-login">
    <div class="icon-container">
      <img class="icon-login" src="/assets/icon/shoeVault-logo2.png" alt="">
    </div>
  </div>
  <div class="form-login">
    <h1>Login</h1>
    <div class="aqui-haz-tu-formulario">
      <div>
        Log In
        <button>hola</button>
      </div>
      <div>
        Register
        <button>holax2</button>
      </div>
    </div>
  </div>
</ion-content>
