<ion-content fullscreen="true">
  <div class="header-login">
    <div class="icon-container">
      <img class="icon-login" src="/assets/icon/shoeVault-logo2.png" alt="ShoeVault Logo" />
    </div>
  </div>
  <div class="form-login">
    <h1>Log in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-container">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)" class="error-message">
          <p *ngIf="formControls['email'].errors?.['required']">Correo requerido</p>
          <p *ngIf="formControls['email'].errors?.['email']">Por favor ingrese un correo valido</p>
        </div>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)" class="error-message">
          <p *ngIf="formControls['password'].errors?.['required']">Contraseña requerida</p>
          <p *ngIf="formControls['password'].errors?.['minlength']">Contraseña debe contener al menos 8 caracteres</p>
          <p *ngIf="formControls['password'].errors?.['pattern']">La contraseña debe contener al menos una letra mayúscula, un número y un carácter especial(e.g., !&#64;#$%^&*.,).</p>
        </div>
      </div>

      <div class="button-container">
        <ion-button expand="block" class="custom-button" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        <ion-button expand="block" class="custom-button-outline" fill="outline" (click)="irPagina('/register')">Registro</ion-button>
      </div>
    </form>
  </div>
</ion-content>
