<ion-menu side="end" menuId="filterMenu" contentId="mainContent">
  <div class="title">Filtros</div>
  <div class="filters">
    <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
      <ion-list>
        <div class="slider-container">
          <ion-label>Rango de Precio</ion-label>
          <mat-slider class="example-margin" [min]="0" [max]="1000000" [step]="1000" thumbLabel>
            <input matSliderThumb formControlName="priceRange"> <!-- Vinculado al formControlName -->
          </mat-slider>
        </div>
        <div class="slider-values">
          <span>{{ filtersForm.get('priceRange')?.value }}</span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="selectedCategory">
            <mat-option *ngFor="let category of categoriesAvailable" [value]="category.idcategory">
              {{ category.namecategory }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Género</mat-label>
          <mat-select formControlName="selectedGender">
            <mat-option *ngFor="let gender of genderAvailable" [value]="gender.idgender">
              {{ gender.namegender }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ion-item lines="none">
          <ion-button class="custom-button" expand="full" type="submit">Aplicar Filtros</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="custom-button" expand="full" (click)="clearFilters()">Limpiar Filtros</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-menu>

<ion-content [fullscreen]="true" id="mainContent">
  <section class="header-products">
    <div class="header">
      <img src="/assets/icon/shoeVault-logo.png" alt="">
      <h3>ShoeVault</h3>
    </div>
    <div class="filter">
      <img (click)="irPagina('/home')" class="arrow-back" src="/assets/arrow-back.svg" style="background-color: white; border-radius: 10px; width: 25px;">
      <p>Filtros</p>
      <img src="/assets/filter.svg" (click)="abrirFiltroMenu()">
    </div>
  </section>
  <section class="section-products">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
    <ion-grid>
      <ion-row class="container-products">
        <ng-container *ngFor="let product of filteredProducts">
          <div class="product" size="1" (click)="modificarProducto(product.idproduct)">
            <div class="image-product">
              <img [src]="product.image">
            </div>
            <div class="content-product">
              <h4>{{ product.nameproduct }}</h4>
              <p class="stock-product">Disponibles: {{ product.stockproduct }}</p>
              <p class="price-product">{{ product.priceproduct | currency: 'CLP' }}</p>
            </div>
          </div>
        </ng-container>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>

<ion-toolbar>
  <app-tabs [Productos]="products"></app-tabs>
</ion-toolbar>
