<ion-content fullscreen="true">
  <div class="header-login">
    <div class="icon-container">
      <img class="icon-login" src="/assets/icon/shoeVault-logo2.png" alt="ShoeVault Logo" />
    </div>
  </div>
  <div class="form-login">
    <h1>Registro de Usuario</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)" class="error-message">
          <p *ngIf="formControls['email'].errors?.['required']">Correo requerido</p>
          <p *ngIf="formControls['email'].errors?.['email']">Por favor ingrese un correo válido</p>
          <p *ngIf="formControls['email'].errors?.['gmail']">El correo debe ser de dominio gmail.com</p>
        </div>
        <ion-item>
          <ion-label position="stacked">Rut</ion-label>
          <ion-input type="text" formControlName="rut" placeholder="Ej. 12.345.678-9"></ion-input>
        </ion-item>
        <div *ngIf="formControls['rut'].invalid && (formControls['rut'].dirty || formControls['rut'].touched)" class="error-message">
          <p *ngIf="formControls['rut'].errors?.['required']">Rut requerido</p>
          <p *ngIf="formControls['rut'].errors?.['pattern']">El Rut debe tener un formato válido (Ej. 12.345.678-9)</p>
        </div>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)" class="error-message">
          <p *ngIf="formControls['password'].errors?.['required']">Contraseña requerida</p>
          <p *ngIf="formControls['password'].errors?.['minlength']">Debe contener al menos 8 caracteres</p>
          <p *ngIf="formControls['password'].errors?.['pattern']">Debe contener al menos una letra mayúscula, un número y un símbolo especial</p>
        </div>
        <ion-item>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <div *ngIf="formControls['confirmPassword'].invalid && (formControls['confirmPassword'].dirty || formControls['confirmPassword'].touched)" class="error-message">
          <p *ngIf="formControls['confirmPassword'].errors?.['required']">Confirmación de contraseña requerida</p>
          <p *ngIf="registerForm.errors?.['mismatch']">Las contraseñas no coinciden</p>
        </div>
      </div>
      <div class="button-container">
        <ion-button expand="block" class="custom-button" type="submit" [disabled]="registerForm.invalid">Registrar</ion-button>
        <ion-button expand="block" class="custom-button-outline" fill="outline" (click)="irPagina('/login')">Cancelar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
