.img

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  mat-card-header, mat-card-title {
    text-align: center;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .submit-button {
    width: 100%;
  }
  