<ion-content [fullscreen]="true">
  <div class="header-favorites">
    <img (click)="irPagina('/home')" src="/assets/arrow-back.svg" alt="">
    <h3>Favoritos</h3>
    <img (click)="irPagina('/shopping-cart')" src="/assets/cart.svg" alt="">
  </div>

  <div class="content-favorites" *ngIf="productsFavorite.length > 0; else noFavorites">
    <div class="product" *ngFor="let product of productsFavorite">
      <img [src]="product.image" alt="{{ product.nameproduct }}">
      <div class="information-product">
        <p class="title-information">{{ product.nameproduct }}</p>
        <p class="description">{{ product.descriptionproduct }}</p>
        <p class="price">{{ product.priceproduct | currency: 'CLP' }}</p>
      </div>
    </div>
  </div>

  <ng-template #noFavorites>
    <div class="no-favorites-container">
      <p class="no-favorites-text">No tienes productos en favoritos.</p>
    </div>
  </ng-template>
</ion-content>
<ion-toolbar>
  <app-tabs></app-tabs>
</ion-toolbar>
