<ion-content [fullscreen]="true">
  <div class="header-login">
    <div class="icon-container">
      <img class="icon-login" src="/assets/icon/shoeVault-logo2.png" alt="ShoeVault Logo"/>
    </div>
  </div>
  <div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Modificar Perfil de Usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="user">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Rut</mat-label>
            <input matInput formControlName="rut" placeholder="Ej. 12345678-9"/>
            <mat-error *ngIf="profileForm.get('rut')?.invalid && profileForm.get('rut')?.touched">Rut inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Primer Nombre</mat-label>
            <input matInput formControlName="firstname" placeholder="Ej. Juan"/>
            <mat-error *ngIf="profileForm.get('firstname')?.invalid && profileForm.get('firstname')?.touched">Nombre requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput formControlName="secondname" placeholder="Ej. Pablo"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Primer Apellido</mat-label>
            <input matInput formControlName="firstlastname" placeholder="Ej. Pérez"/>
            <mat-error *ngIf="profileForm.get('firstlastname')?.invalid && profileForm.get('firstlastname')?.touched">Apellido requerido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput formControlName="secondlastname" placeholder="Ej. González"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Género</mat-label>
            <mat-select formControlName="genderuser">
              <mat-option [value]="'Masculino'">Masculino</mat-option>
              <mat-option [value]="'Femenino'">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Ej. juan.perez@gmail.com"/>
            <mat-error *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">Email inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Nueva contraseña (opcional)" />
            <mat-error *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched">Contraseña debe tener al menos 8 caracteres, una letra mayúscula, un número y un símbolo</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" formControlName="phone" placeholder="Ej. +56912345678"/>
            <mat-error *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched">Teléfono inválido</mat-error>
          </mat-form-field>
          <div class="button-container">
            <ion-button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">Guardar Cambios</ion-button>
            <ion-button (click)="irPagina('/profile')">Volver</ion-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>

