<ion-tabs>
  <ion-tab-bar slot="bottom" class="container-tabs">
    <ion-tab-button [routerLink]="['/home']">
      <img src="/assets/home.svg" alt="">
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/products']">
      <img src="/assets/footsteps.svg" alt="">
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/profile']">
      <img src="/assets/person.svg" alt="">
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/favorites']">
      <img src="/assets/heart.svg" alt="">
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/shopping-cart']">
      <img src="/assets/cart.svg" alt="">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>