@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

ion-icon{
  color: rgb(255, 255, 255);
}
ion-title{
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: right;
  color: black;

}

ion-button{
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --box-shadow: none;
}

ion-content{
  overflow: false;
}
ion-card{
  margin: 0;
}

.header-home{
  position: absolute;
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: 65px;
  border-radius: 0% 0% 15% 15%;
}

.title-home{
  display: flex;
}

.icon-logo{
  width: 120px;
  height: 100px;
}

.lastunits-section{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  height: 350px;
  border-radius: 10%;
}
.lastunits-text{
  margin: 5px;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
.lastunits-text img{
  width: 20px;
}
.container-products{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-image: linear-gradient(180deg, #1b1b1b, #262626);
}

.card{
  background: rgb(226, 224, 224);
  background: radial-gradient(circle, #171717 50%, #4d4d4d 100%);
  width: 29%;
  margin-top: 55px;
  height: 200px;
  border-radius: 10%;
  box-shadow: 0px 4px 10px #d4d4d4;
  position: relative;
  overflow: visible;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

.card-content p{
  color: rgb(255, 255, 255);
  margin: 1px;
  font-size: 13px;
}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-button{
  width: 100%;
  translate: 0px 5px;
}
.sc-ion-searchbar-md-h{
  --border-radius: 20px
}

.card-image{
  position: absolute;
  top: -52px;
  width: 110px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px #8c8a8a;
}

.card-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.gender-section{
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 100%;
  flex-direction: row-reverse;
  background-image: linear-gradient(180deg, #262626, #5a5a5a);
}

.gender-maculine{
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: #262626;
  border-radius: 100% 100% 100% 100%/50% 50% 50% 50%;
}
.gender-maculine img{
  position: relative;
  width: 80%;
}
.gender-female{
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: #262626;
  border-radius: 100% 100% 100% 100%/50% 50% 50% 50%;
}

.gender-female img{
  position: relative;
  width: 80%;
}

.text-gender{
  margin: 1rem auto;
  font-size: 30px;
  animation: neon 4s ease infinite;
  width: 20%;
  writing-mode: vertical-rl;
}


@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #000000a8, 0 0 20px #000000a8, 0 0 20px #000000a8, 0 0 20px #000000a8, 0 0 2px #ffffff, 2px 2px 2px #fffcf3;
      color: #f3f3f3;
  }
  50% {
      text-shadow: 0 0 2px #464646, 0 0 5px #464646, 0 0 5px #464646, 0 0 5px #000000, 0 0 2px #000000, 4px 4px 2px #40340a;
      color: #fffcfe;
  }
}
.text-brands{
  margin: 5px;
  font-size: 20px;
  font-family: "Noto Sans", serif;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
}

.brands-section{
  background-image: linear-gradient(180deg, #5a5a5a, #262626);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-around;
}
.container-brands{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.container-brands img{
  border-radius: 10% 8% 10% 10% / 10% 18% 10% 10%;
  background-color: #e0e0e0;
  box-shadow: 0px 1px 10px #A3A3A3;
  width: 45%;
  height: 150px;
  padding: 10px;
}