ion-button {
    --background: #ffffff;
    --color: #ffffff;
    --box-shadow: 0 2px 6px 0 #00000040;
    --border-color: #000000;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0em;
    --padding-end: 0em;
    --margin-inline-end: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
}
ion-button img{
    width: 26px
}

.header-adm{
    background-color: #F5F5F5;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.header-adm h3{
    margin: 0;
    color: black;
    font-size: 28px;
    font-family: 'Concert One', sans-serif;
}
.header-adm img{
    width: 20px;
    height: 20px;
}
.colums-header{
    border: 1px solid white;
    padding: 10px 0px;
    background-color: #181717;
    justify-items: center;
}
.colums-header p{
    margin: 0;
    font-size: 16px;
}
.products-data .product {
    background-color: #2c2c2c;
  }

.product p, .columns-header p {
    margin: 0;
}
.grid-table{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr 2fr;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 15.2px 0px;
    border-bottom: 1px solid #ffffff;
}
.product-name{
    font-size: 13px;
    text-align: left;
    letter-spacing: 0px;
}