<ion-content [fullscreen]="true">
  <div class="header-adm">
    <img src="/assets/arrow-back.svg" (click)="irPagina('/panel-adm')" alt="">
    <h3>Administrador de productos</h3>
  </div>
  <div class="products-adm">
    <div class="colums-header grid-table">
      <p>Id</p>
      <p>Nombre</p>
      <p>Stock</p>
      <p>Precio</p>
      <p>Accion</p>
    </div>
    <div class="products-data">
      <ng-container *ngFor="let product of products">
        <div class="product grid-table">
          <p>{{product.idproduct}}</p>
          <p class="product-name">{{product.nameproduct}}</p>
          <p>{{product.stockproduct}}</p>
          <p>{{product.priceproduct | currency:'CLP'}}</p>
          <div>
            <ion-button (click)="modificarProducto(product.idproduct)">
              <img class="button-icon" src="/assets/edit.svg">
            </ion-button>
            <ion-button>
              <img class="button-icon" src="/assets/trash.svg">
            </ion-button>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
  <div>
    <ion-button (click)="irPagina('/panel-add')"  color="light" expand="full"> Agregar Producto </ion-button>
  </div>
</ion-content>
